// Rename this file to .env
export NODE_ENV=production
export DB_USERNAME='postgres'
export DB_PASSWORD='postgres'
export DB_NAME='sequelize_migration'
export DB_HOST='localhost'
export DB_PORT='5432'
